.navbar h1{
	color: #990000;	
}
.navbar h2{
	color: #21ABCD;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a {
    color: white;
	float: center;
	font-size: 1.5em;
	margin-left: 2.5em;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
*, ::after, ::before 
{

    box-sizing: border-box;

}
*, ::after, ::before 
{

    box-sizing: border-box;

}