.aboutLeftDiv p {
        color: black;
        font-family: 'Finger Paint', cursive;
        font-size: small;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;


}
.aboutMidDiv p  {
        color: black;
        font-family: 'Finger Paint', cursive;
        font-size: small;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;


}
.aboutRightDiv p        {
        color: black;
        font-family: 'Finger Paint', cursive;
        font-size: small;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;


}

.content p{
        color: black;
        font-family: 'Finger Paint', cursive;
        font-size: small;
        padding-top: 15px;
        padding-right: 5px;
        padding-left: 5px;
}

.grid   {
        color: black;
        font-family: 'Finger Paint', cursive;
        font-size: medium;
        padding-top: 0px;
        padding-right: 5px;
        padding-left: 5px;
        margin: 10px;
      }

      @media screen and (min-width: 736px)
      {
              .grid{
                      display: grid;
                      grid-template-columns: 1fr 1fr 1fr 1fr;
              }
      }
