@import "resume.css";
@import "paragraph.css";
@import "navbar.css";

.navbar {
        background-color: #36454F;
}

.nav-link       {
        color: white;
}

body {
        font-size:62.5%;
        margin: 0;
        padding: 0;
        background-image: url("images/pictures/LightGarden.jpg");
        background-attachment: fixed;
}

.customDiv{
        margin: 14px 10px 0px 10px;
        min-height: 900px;
        background-color: #36454F;
        text-align: center;
        font-size: medium;
        color: white;
        opacity: 0.8;
        font-family: 'Kalam', cursive;
}

.footer {
        padding: 22px 22px 22px 56px;
        background-color: #36454F;
        position: fixed;
        bottom: 0;
    width: 100%;
        color: white;
}

#facebook       {
        padding: 18px 15px 18px 20px;
}
#linkedin       {
        padding: 18px 15px 18px 20px;
}
#googleplus     {
        padding: 18px 15px 18px 20px;
}
