#horzNav 
{
	display:block;
	/* padding top, right, bottom and left */
	padding: 0px 0px 0px 0px;
	background: black;
}
/* treat the nav tag as a block element */
#horzNav
{
	display:block;
	/* padding top, right, bottom and left */
	padding: 15px 20px 15px 15px;
	background: black;
}
/* adding hover color */
#horzNav a:hover
{
	padding: 0px 0px 0px 20px;
	color: #9C2542;
}

a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
*, ::after, ::before {

    box-sizing: border-box;

}
*, ::after, ::before {

    box-sizing: border-box;

}

body 
{
    background: url(images/PortfolioTheme.jpg);
	width: 100%;
	height: 1080px;
	background-repeat: no-repeat;
	background-size: 100% 100%;	
}

p {
    font-family: verdana;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 0rem;
}

.card-group
{
	width: 1109px;
	padding: 1px;
	background-color: #97d6e8;
	margin-bottom: -196px;
}
.myPanel
{
	border: 1px solid black;
	border-radius: 7px 7px 0px 0px;
	box-shadow: 4px 4px 10px black;
	margin: 3%;
	width: 500px;
}

.myPanel .heading
{
	background: #536872;
	border: 1px solid black;
	border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;	
	-moz-border-radius: 7px 7px 0px 0px;	
	padding: 10px 20px;
	width: 500px;
}

.myPanel .body
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 10px 20px;	
	width: 500px;
}

.myPanel:hover
{
	box-shadow: 11px 11px 12px black;
	border: 2px solid black;
	border-radius: 9px 9px 0px 0px;
}

a:hover{color: blue;}
a:active{color:red;}
a:visited{color: #989898;}



